* {
    box-sizing: border-box;
    margin: 0;
}

.img-shape {
    box-shadow: 5px 10px 20px black;
    margin-top: 30px;
}

html {
    background: url(./red.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.start-btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#js-form {
    height: 200px;
    width: 300px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-click {
    height: 80px;
    width: 30%;
}

.form-box {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    border: 1px solid black;
    background-color: rgba(104, 86, 86, 0.205);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    box-shadow: 10px 5px 10px black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Caveat', cursive;
}

.form-box p {
    margin-top: 10px;
}

.header {
    margin-top: 5px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 80px;
}

.submit-button {
background: white;
height: 40px;
width: 80px;
outline: black;
margin: 0px 6px;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
font-size: 1.5rem;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Caveat', cursive;
box-shadow: 10px 4px;
}

.form-box :hover {
    cursor: pointer;
}

.trivia-form {
    margin-top: 100px;
}

#js-form input {
    height: 40px;
    width: 140px;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.poster-box {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./movie.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Signika', sans-serif;
    height: 800px;
    width: 100%;
    color: white;
    margin-top: 400px !important;
    transition: transform .2s;
}

.poster-box, p, h2 {
    transform: none !important;
    font-size: 30px;
}

.poster-box :hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.youtube-img {
    margin-top: 50px;
    box-shadow: 10px 5px 5px black;
}

.video-container {
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 40px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Caveat', cursive;
    font-size: 5px;
    background-color: rgba(119, 10, 7, 0.822);
    display: inline-block;
    box-shadow: 10px 5px 10px black;
    margin: 0px 8px;
    transition: transform .2s;
    /* margin: auto; */
}

.video-container :hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.video-container a {
    color: white;
}

.video-display {
    background: url(./vidbkg.jpeg);
    background-size: cover;
    font-size: 10px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Caveat', cursive;
}

@media only screen and (min-width: 375px) {
    .video-container {
        width: 300px;
        height: 200px;
        margin-top: 85px;
    }
    .video-container .youtube-img {
        width: 200px;
        height: 100px;
    }
    .poster-box {
        margin-top: 200px;
        word-wrap: break-word;
        width: 100%;
        font-size: 18px;
    }
    .poster-box p {
        font-size: 20px;
    }
    footer {
        width: 100%;
    }
    @media only screen and (min-width: 768px) {
        .video-container {
            width: 450px;
            height: 300px;
        }
        .video-container .youtube-img {
            width: 300px;
            height: 200px;
        }
    }
    footer img {
        height: 50px;
        background: rgba(119, 10, 7, 0.822);
        margin-top: 20px
    }
    footer {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background: black;
        font-size: 30px;
        color: white;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-family: 'Caveat', cursive;
        margin-top: 5px;
        width: 100%;
    }
}

.poster-box button {
    width: 0;
    height: 0;
    border-left: 20px solid transparent black;
    border-right: 20px solid transparent black;
    border-top: 20px solid red;
    transform: none !important;
}

.start-up {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

#pop-corn {
    mix-blend-mode: multiply;
    border-radius: 50px 10px;
    -webkit-border-radius: 50px 10px;
    -moz-border-radius: 50px 10px;
    -ms-border-radius: 50px 10px;
    -o-border-radius: 50px 10px;
    height: 180px;
    width: 200px;
    box-shadow: 10px 10px 10px;
}

.start-up p {
    margin-top: 50px;
    font-family: 'Pacifico', cursive;
    color: white;
}

.start-up :hover {
    cursor: pointer;
}

  a {
   color: white;
}

